In [ ]:
# import helper functions
from roux.global_imports import *

In [2]:
## demo data
import seaborn as sns
df1=sns.load_dataset('iris')

## Validations

In [3]:
assert df1.rd.validate_no_na()
assert df1.rd.validate_no_dups()

AssertionError:

## Checking duplicates

In [4]:
df1.rd.check_dups()

INFO:root:duplicate rows: 1% (2/150)

     sepal_length  sepal_width  petal_length  petal_width    species
101           5.8          2.7           5.1          1.9  virginica
142           5.8          2.7           5.1          1.9  virginica

## Logging the changes in dataframe shapes

In [5]:
_=df1.log.drop_duplicates()

INFO:root:drop_duplicates: shape changed: (150, 5)->(149, 5), width constant

## Filter dataframe by using a dictionary

In [6]:
_=df1.rd.filter_rows({'species':'setosa'})

INFO:root:(150, 5)
INFO:root:(50, 5)