---

<!-- <a href="https://github.com/rraadd88/roux/blob/master/examples/roux_lib_set.ipynb"><img align="right" style="float:right;" src="https://img.shields.io/badge/-source-cccccc?style=flat-square"></a>
 -->
## ⬤⬤ Sets.

## Demo data

In [1]:
import string
l1=list(string.ascii_lowercase)[:3]
l2=list(string.ascii_lowercase)[:2]
l1,l2

(['a', 'b', 'c'], ['a', 'b'])

## Validate overlap

In [2]:
from roux.lib.set import assert_overlaps_with
assert_overlaps_with(l1,l1)

## Check non-overlapping items

In [3]:
from roux.lib.set import check_non_overlaps_with
check_non_overlaps_with(l1,l2)

{'c'}

## Get pairs among items

In [4]:
from roux.lib.set import get_pairs

### Within a set

In [5]:
get_pairs(l1)

   1  2
0  c  b
1  c  a
2  b  a

### Between sets

In [6]:
get_pairs(l1,l2)

   1  2
0  c  b
1  c  a
2  b  a
3  a  b

#### Unique pairs

In [7]:
get_pairs(l1,l2,unique=True)

   1  2
0  a  b
1  c  a
2  c  b

## Documentation
[`roux.lib.set`](https://github.com/rraadd88/roux#module-rouxlibset)