---

<!-- <a href="https://github.com/rraadd88/roux/blob/master/examples/roux_lib_set.ipynb"><img align="right" style="float:right;" src="https://img.shields.io/badge/-source-cccccc?style=flat-square"></a>
 -->
## ⬤⬤ Sets.

**Demo data**

In [1]:
import string
l1=list(string.ascii_lowercase)[:3]
l2=list(string.ascii_lowercase)[:2]
l3=list(string.ascii_lowercase)[:3][::-1]+l1
l1,l2,l3

(['a', 'b', 'c'], ['a', 'b'], ['c', 'b', 'a', 'a', 'b', 'c'])

## Validate overlap

In [2]:
from roux.lib.set import assert_overlaps_with
assert_overlaps_with(l1,l1)

In [4]:
# from roux.lib.set import validate_overlaps_with
# validate_overlaps_with(l2,l1,verbose=True)

## Check non-overlapping items

In [5]:
from roux.lib.set import check_non_overlaps_with
check_non_overlaps_with(l1,l2)

{'c'}

## Get pairs among items

In [4]:
from roux.lib.set import get_pairs

### Within a set

In [5]:
get_pairs(l1)

   1  2
0  b  a
1  b  c
2  a  c

### Between sets

In [6]:
get_pairs(l1,l2)

   1  2
0  b  a
1  a  b
2  c  b
3  c  a

#### Unique pairs

In [7]:
get_pairs(l1,l2,unique=True)

   1  2
0  a  b
1  c  a
2  c  b

## Unique

In [8]:
from roux.lib.set import unique
unique(l3) ## not sorted

['b', 'c', 'a']

In [9]:
from roux.lib.set import unique_sorted
unique_sorted(l3) ## not sorted

['a', 'b', 'c']

## Conversions

In [10]:
from roux.lib.set import list2str
list2str(l3[0])

'c'

In [11]:
from roux.lib.set import list2str
list2str(l3,fmt='id') ## uniqe sorted

'a;b;c'

In [12]:
from roux.lib.set import list2str
list2str(l3,fmt='count') ## unique sorted with counts

'a(2);b(2);c(2)'

## Documentation
[`roux.lib.set`](https://github.com/rraadd88/roux#module-rouxlibset)