---

<!-- <a href="https://github.com/rraadd88/roux/blob/master/examples/roux_stat_diff.ipynb"><img align="right" style="float:right;" src="https://img.shields.io/badge/-source-cccccc?style=flat-square"></a>
 -->
 
## âœ¨ Differences.

In [ ]:
# install extra requirements
# !pip install roux[stat]

**Demo data**

In [1]:
import numpy as np
import pandas as pd #noqa
# np.random.seed(0)
import seaborn as sns
df1=(
    sns.load_dataset('iris')
    .assign(
        id=lambda df: range(len(df)),
        group1=lambda df: np.random.choice([0,1],len(df)),
        group2=lambda df: np.random.choice([0,1],len(df)),
    )
)
df1.head()

,sepal_length,sepal_width,petal_length,petal_width,species,id,group1,group2
0,5.1,3.5,1.4,0.2,setosa,0,0,1
1,4.9,3.0,1.4,0.2,setosa,1,0,1
2,4.7,3.2,1.3,0.2,setosa,2,0,0
3,4.6,3.1,1.5,0.2,setosa,3,1,1
4,5.0,3.6,1.4,0.2,setosa,4,0,1

## Differences

### Single values, no groups

In [2]:
from roux.stat.diff import get_stat
get_stat(
    df1,
    colsubset='species',
    colvalue='sepal_length',
    colindex='id',
)

,subset1,subset2,stat (MWU test),P (MWU test),mean subset1,median subset1,var subset1,size subset1,mean subset2,median subset2,var subset2,size subset2
0,setosa,versicolor,168.5,8.345827e-14,5.006,5.0,0.124249,50,5.936,5.9,0.266433,50
1,virginica,versicolor,1974.0,5.869006e-07,6.588,6.5,0.404343,50,5.936,5.9,0.266433,50
2,setosa,virginica,38.5,6.396699e-17,5.006,5.0,0.124249,50,6.588,6.5,0.404343,50
3,versicolor,virginica,526.0,5.869006e-07,5.936,5.9,0.266433,50,6.588,6.5,0.404343,50
4,versicolor,setosa,2331.5,8.345827e-14,5.936,5.9,0.266433,50,5.006,5.0,0.124249,50
5,virginica,setosa,2461.5,6.396699e-17,6.588,6.5,0.404343,50,5.006,5.0,0.124249,50

### Multiple values, no groups

In [3]:
from roux.stat.diff import get_stats
get_stats(
    df1,
    colsubset='species',
    cols_value=['sepal_length','sepal_width'],
    colindex='id',    
)

                                    stat (MWU test)  P (MWU test)  \
variable     subset1    subset2
sepal_length setosa     versicolor            168.5  8.345827e-14
             virginica  versicolor           1974.0  5.869006e-07
             setosa     virginica              38.5  6.396699e-17
             versicolor virginica             526.0  5.869006e-07
                        setosa               2331.5  8.345827e-14
             virginica  setosa               2461.5  6.396699e-17
sepal_width  setosa     versicolor           2312.0  2.143380e-13
             virginica  versicolor           1659.0  4.572142e-03
             setosa     virginica            2086.0  7.099709e-09
             versicolor virginica             841.0  4.572142e-03
                        setosa                188.0  2.143380e-13
             virginica  setosa                414.0  7.099709e-09

                                    mean subset1  median subset1  var subset1  \
variable     subset1    subset2
sepal_length setosa     versicolor         5.006             5.0     0.124249
             virginica  versicolor         6.588             6.5     0.404343
             setosa     virginica          5.006             5.0     0.124249
             versicolor virginica          5.936             5.9     0.266433
                        setosa             5.936             5.9     0.266433
             virginica  setosa             6.588             6.5     0.404343
sepal_width  setosa     versicolor         3.428             3.4     0.143690
             virginica  versicolor         2.974             3.0     0.104004
             setosa     virginica          3.428             3.4     0.143690
             versicolor virginica          2.770             2.8     0.098469
                        setosa             2.770             2.8     0.098469
             virginica  setosa             2.974             3.0     0.104004

                                    size subset1  mean subset2  \
variable     subset1    subset2
sepal_length setosa     versicolor            50         5.936
             virginica  versicolor            50         5.936
             setosa     virginica             50         6.588
             versicolor virginica             50         6.588
                        setosa                50         5.006
             virginica  setosa                50         5.006
sepal_width  setosa     versicolor            50         2.770
             virginica  versicolor            50         2.770
             setosa     virginica             50         2.974
             versicolor virginica             50         2.974
                        setosa                50         3.428
             virginica  setosa                50         3.428

                                    median subset2  var subset2  size subset2
variable     subset1    subset2
sepal_length setosa     versicolor             5.9     0.266433            50
             virginica  versicolor             5.9     0.266433            50
             setosa     virginica              6.5     0.404343            50
             versicolor virginica              6.5     0.404343            50
                        setosa                 5.0     0.124249            50
             virginica  setosa                 5.0     0.124249            50
sepal_width  setosa     versicolor             2.8     0.098469            50
             virginica  versicolor             2.8     0.098469            50
             setosa     virginica              3.0     0.104004            50
             versicolor virginica              3.0     0.104004            50
                        setosa                 3.4     0.143690            50
             virginica  setosa                 3.4     0.143690            50

### Mutiple values, with groups

In [7]:
from roux.stat.diff import get_stats_groupby
get_stats_groupby(
    df1,
    colsubset='species',
    cols_value=['sepal_length','sepal_width'],
    colindex='id',
    cols_group=['group1','group2']
).head(1)

,group1,group2,variable,subset1,subset2,stat (MWU test),P (MWU test),mean subset1,median subset1,var subset1,...,mean subset2,median subset2,var subset2,size subset2,difference between mean (subset1-subset2),difference between median (subset1-subset2),change,"change is significant, P (MWU test) < 0.05",Q (MWU test),"significant change, Q (MWU test) < 0.1"
0,0,0,sepal_length,setosa,versicolor,6.5,0.000111,4.876923,4.9,0.12359,...,5.883333,5.85,0.208788,12,-1.00641,-0.95,decrease,True,0.000307,decrease

## Documentation
[`roux.stat.diff`](https://github.com/rraadd88/roux#module-rouxstatdiff)