---

<!-- <a href="https://github.com/rraadd88/roux/blob/master/examples/roux_stat_corr.ipynb"><img align="right" style="float:right;" src="https://img.shields.io/badge/-source-cccccc?style=flat-square"></a>
 -->
 
## ✨ Correlations.

In [1]:
# installing the required roux subpackage
# !pip install roux[stat]
# loading non-roux requirements
import pandas as pd

## Demo data

In [2]:
## random state
import numpy as np
np.random.seed(1)
## demo dataframe
data=pd._testing.makeDataFrame()
data.head(1)

                   A         B         C         D
LRmijlfpaq -0.650355 -0.541145 -0.089155  0.415311

## Applicable methods

In [3]:
methods=[
## correlations
 'pearson',
 'spearman',
## distances
 'braycurtis',
 'canberra',
 'chebyshev',
 'cityblock',
 'correlation',
 'cosine',
 'dice',
 'euclidean',
 'hamming',
 'jaccard',
 'jensenshannon',
 'kulsinski',
 'matching',
 'minkowski',
 'rogerstanimoto',
 'russellrao',
 'sokalmichener',
 'sokalsneath',
 'sqeuclidean',
 'yule'
]

In [4]:
%time
## import the roux function
from roux.stat.corr import get_corr

correlations=[]
for method in methods:
    # try:
    correlations.append(get_corr('A','B',df=data,method=method,resample=True))
    # except:
    #     print(method)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.25 µs

In [5]:
pd.DataFrame(correlations)

           rr        ci ci_type   n          method          r         P
0    0.197259  0.119712     max  30         pearson   0.186745  0.323098
1    0.162783  0.137217     max  30        spearman   0.157286  0.406500
2    0.926243  0.072631     max  30      braycurtis   0.924448       NaN
3   18.683923  0.255058     max  30        canberra  23.354904       NaN
4    2.403518  0.155478     max  30       chebyshev   2.442387       NaN
5   23.531277  1.752024     max  30       cityblock  29.414096       NaN
6    0.802741  0.119712     max  30     correlation   0.813255       NaN
7    0.794285  0.072985     max  30          cosine   0.797881       NaN
8   -0.344189  0.854530     max  30            dice  -0.148785       NaN
9    5.898555  0.423424     max  30       euclidean   6.600910       NaN
10   1.000000  0.000000     max  30         hamming   1.000000       NaN
11   1.000000  0.000000     max  30         jaccard   1.000000       NaN
12        inf       NaN     max  30   jensenshannon        inf       NaN
13   0.797622  0.105579     max  30       kulsinski   0.809610       NaN
14   1.000000  0.000000     max  30        matching   1.000000       NaN
15   5.898555  0.423424     max  30       minkowski   6.600910       NaN
16  -0.163439  0.566991     max  30  rogerstanimoto  -0.098634       NaN
17   0.818558  0.060173     max  30      russellrao   0.818558       NaN
18  -0.163439  0.566991     max  30   sokalmichener  -0.098634       NaN
19   1.740300  1.511858     max  30     sokalsneath  -1.074953       NaN
20  34.857614  5.109801     max  30     sqeuclidean  43.572017       NaN
21  -0.077820  0.567149     max  30            yule  -0.056048       NaN

## Pairwise

In [6]:
## import the roux function
from roux.stat.corr import get_corrs

In [7]:
%time
get_corrs(
    data=data,
    method='spearman',
)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 6.91 µs

AttributeError: 'DataFrame' object has no attribute 'progress_apply'

In [ ]:
%time
get_corrs(
    data=data,
    method='pearson',
    cols=['A','B'],
)

In [ ]:
%time
get_corrs(
    data=data,
    method='euclidean',
    cols=['A','B'],
    cols_with=['C','D'],
)

In [ ]:
%time
get_corrs(
    data=data,
    method='cosine',
    resample=True,
)